#Переменная среды: "development" | "staging" | "production"
DEPLOY_ENV="production"

GATEWAY_WALLETS_BFF_API="https://dev.tiyn.io/wallet-space/wallets-bff"
GATEWAY_HOST_API="https://dev.tiyn.io"

# number - указываются в минутах
AUTH_ACTIVE_TIMEOUT="2"

# Ключ для шифрования secure storage
SECURE_STORAGE_SECRET_KEY="example"

# dsn для sentry
SENTRY_API="example"
SENTRY_TRACE_PROPAGATION_TARGETS="localhost,/^https:\/\/dev.tiyn.io\.io/,/^https:\/\/stage.tiyn.io\.io/"

# API ключ для AppMetrica
APPMETRICA_API_KEY

GATEWAY_WALLETS_BFF_API_DEMO="https://stage.tiyn.io/wallet-space/wallets-bff"
GATEWAY_HOST_API_DEMO="https://stage.tiyn.io"
